<%- include('partials/header') -%>

<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ccc;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>


<h1>Sharing with</h1>

  <table>
    <tr>
      <th>Person Email</th>
      <th>Remove</th>
    </tr>

    <% for (let i = 0; i < PersonList.length; i++) { %>
      <tr>
        <td><%= personList[i].email %></td>
        <td><button class="button" onclick="RemovePermission('<%= personList[i].Id %>')">Remove</button></td>
      </tr>
    <% } %>
  </table>

<script>
    const RemovePermission = async () => {
        await fetch(`/disable-shareLink/${fileId}`, {
            method : 'POST',
            headers : {
                'content-Type' : 'application/json'
            }
        })
        .then(response => {
            if(response.ok) {
                alert('Removed permission to access File the person cannot be able access the file anymore');
                window.location.href = '/people';
            } else {
                console.error('Error Removing The person:', response.statusText);
            }
        })
    }

</script>

<%- include('partials/footer') -%>